.header__navbar {
    background-color: #feede0;
}

@media (max-width: 600px) {
    .header__top-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 0 auto;
    }

    .header__title-text,
    .header__title-link {
        color: #936f62;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        padding: 20px 0;
    }

    .header__logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 30px;
    }

    .header__menu-items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-list__item {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        padding: 12.5px 20px;
        list-style-type: none;
    }

    .menu__element-link {
        color: #936f62;
        text-decoration: none;
        position: relative;
        padding: 10px 5px;
        font-weight: 570;

    }

    .header__social-container {
        margin-left: auto;
    }

    .header__social {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        padding: 20px 0;
        margin: 0;
    }

    .social-list__item a {
        display: inline-block;
    }

    .header-social__link {
        fill: #936f62;
    }
}

@media (max-width: 824px) {
    .header__top-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 0 auto;
    }

    .header__title-text,
    .header__title-link {
        color: #936f62;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 570;
        padding: 20px 0;
    }

    .header__logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 30px;
        transform: scale(0.465);
        transform-origin: left center;
    }

    .header__menu-items {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
    }

    .menu-list__item {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        padding: 10px 15px;
    }

    .menu__element-link {
        display: inline-block;
        color: #936f62;
        text-decoration: none;
        position: relative;
        font-weight: 570;

    }

    .header__social-container {
        margin-left: auto;
    }

    .header__social {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
        padding: 20px 0;
        margin: 0;
    }

    .social-list__item a {
        display: inline-block;
    }

    .header-social__link {
        fill: #936f62;
    }
}

@media (min-width: 825px) {
    .header__top-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e8d9d0;
        max-width: 1200px;
        padding: 15px;
        margin: 0 auto;
        font-family: 'Lato', sans-serif;
        color: #936f62;
    }

    .header__top-title {
        flex: 0 0 auto;
        padding: 10px 0;
    }

    .header__title-text {
        margin: 0;
        font-size: 12px;
        font-weight: 570;
        text-align: left;
    }

    .header__top-title:last-child .header__title-text {
        text-align: right;
    }

    .header__title-link {
        color: #936f62;
        text-decoration: none;
    }

    .header__title-link:hover {
        text-decoration: underline;
    }

    .header__bottom-menu {
        display: flex;
        justify-content: space-between;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #feede0;
        max-width: 1200px;
        padding: 30px 15px;
        margin: 0 auto;
    }

    .header__logo {
        margin-right: auto;
        width: 150px;
        height: auto;
        transform: scale(1.45);
        transform-origin: left center;
    }

    .header__logo-image {
        width: 100px;
        height: auto;
    }

    .header__menu-items {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
    }

    .menu-list__item {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        padding: 12.5px 20px;
    }

    .menu-list__item a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #936f62;
        font-weight: 570;
    }

    .menu-list__item a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: #3d3431;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.5s ease;
    }

    .menu-list__item a:hover::after {
        transform: scaleX(1);
    }

    .menu-list__item a:hover {
        color: #3d3431;
        text-decoration: none;
        display: inline-block;
        width: max-content;
    }

    .header__social-container {
        margin-left: auto;
    }

    .header__social {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .social-list__item a {
        display: inline-block;
    }

    .header-social__link {
        fill: #936f62;
    }

    .header-social__link:hover {
        fill: #d8a08d;
    }
}