/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Niconne */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Niconne&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Lexend */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Niconne&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    --header-nav-background-color-mobile: linear-gradient(to right, #feeee2, #feece1, #feebe0, #feece1);
    --header-nav-background-color-537px: linear-gradient(to right, #fdf0e3, #feede0, #feecdf, #fdeadf);
    --header-nav-background-color-768px: linear-gradient(to right, #feeee2, #feede0, #feece1, #feece1, #fdeadd);
    --header-nav-background-color-992px: linear-gradient(to right, #feeee3, #feecdf, #feeee2, #feebde, #feece1, #feecdf, #feece1, #fdebe0, #fce9df);
    --header-nav-element-list: #936f62;
    --header-nav-element-link: #936f62;
    --header-nav-element-link-after: #3d3431;
    --header-nav-element-link-hover: #3d3431;
    --header-nav-title-text: #936f62;
    --header-nav-social-link: #fef1e5;
    --header-nav-social-link-svg: #936f62;
    --header-nav-social-link-svg-background: #fef1e5;
    --header-nav-social-link-hover: #d8a08d;
    --header-nav-background-burger-active: rgba(254, 241, 229, 1);
    --header-nav-menu-btn: #ffffff;
    --header-nav-navicon-background: #000000;
    --header-nav-navicon-after: #000000;
    --header-nav-navicon-before: #000000;
    --header-nav-background-burger: #fef1e5;
    --header-nav --header-nav --header-nav --header-nav;




    --font-family-coursive: 'Lato', sans-serif;
    --font-family-title: 'Lexend', sans-serif;
    --font-family-text: "Niconne", cursive;
}

img {
    display: block;
    width: 100%;
}

.overflow-hidden {
    overflow: hidden !important;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: auto;
}