.categories-container {
    padding: 90px 24px 60px 24px;
    display: flex;
    flex-direction: column;
}

.categories__description {
    display: flex;
    flex-direction: column;
    left: 0;

    .categories__text-italic {
        font-family: var(--font-family-coursive);
        font-style: italic;
        font-size: 22px;
        color: var(--categories-text-italic);
        font-weight: 400;
        line-height: 1.5;
    }

    .categories__title-text {
        font-family: var(--font-family-title);
        font-size: 34px;
        color: var(--categories-title-text);
        padding: 30px 0;
        font-weight: 700;
        line-height: 1.5;

        .categories__title-text-span {
            color: var(--categories-title-text-span);
        }
    }

    .categories__branch-image {
        width: 60px;
        height: 32px;
        margin: 0;
        padding: 0;
    }

    .categories__heading-text {
        font-family: var(--font-family-text);
        font-size: 20px;
        color: var(--categories-heading-text);
        padding: 25px 0;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
    }

    .categories__paragraph-text {
        font-family: var(--font-family-text);
        font-size: 17px;
        color: var(--categories-paragraph-text);
        padding-bottom: 30px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
    }

    .categories__content-button {
        display: flex;
        gap: 50px;
        margin-bottom: 30px;

        .categories__button-all {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            border-radius: 7px;
            padding: 0 10px;
            font-family: var(--font-family-text);
            font-size: 14px;
            font-weight: 570;
            box-sizing: border-box;
            transition: background-color .5s ease, color .5s ease;
            cursor: pointer;
            background-color: var(--categories-button-products-background);
            color: var(--categories-button-products-text);
            text-decoration: none;
        }

        .categories__button-all a {
            text-decoration: none;
            color: inherit;
            display: inline-block;
        }

        .categories__button-all:hover {
            background-color: var(--categories-button-products-background-hover);
        }
    }
}

.categories__products {
    .categories-products__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 48px;
        width: 100%;
        height: 100%;
        min-width: 242px;
        min-height: 415.05px;
        padding: 0 15px;

        .categories-product__image {
            width: 100%;
            height: 172.56px;
            min-width: 242px;
            height: 53.93dvi;

            .categories-image__product {
                width: 100%;
                height: 100%;
                transform: scaleX(0.65);
            }
        }

        .categories-product__name-text {
            font-family: var(--font-family-title);
            font-size: 22px;
            color: var(--categories-products-name-text);
            padding-top: 20px;
        }

        .categories-product__description {
            display: flex;
            text-align: center;
            left: 50%;

            .categories-product__description-text {
                font-family: var(--font-family-text);
                font-size: 17px;
                color: var(--categories-products-description-text);
                padding-top: 20px;
                line-height: 1.5;
            }
        }

        .categories__product-button {
            display: flex;
            gap: 50px;
            margin-top: 30px;

            .categories__button-shop {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-radius: 7px;
                padding: 0 40px;
                font-family: var(--font-family-text);
                font-size: 15px;
                font-weight: 570;
                box-sizing: border-box;
                transition: background-color .5s ease, color .5s ease;
                cursor: pointer;
                background-color: var(--categories-button-shop-background);
                color: var(--categories-button-shop-text);
                text-decoration: none;
            }

            .categories__button-shop a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }

            .categories__button-shop:hover {
                background-color: var(--categories-button-shop-background-hover);

            }
        }
    }
}

@media (min-width: 660px) {
    .categories__description {
        .categories__text-italic {
            font-size: 26px;
        }

        .categories__title-text {
            font-size: 38px;
        }

        .categories__content-button {
            margin-bottom: 50px;
        }
    }

    .categories__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .categories-products__content {
            min-width: 320px;
            min-height: 448.01px;
            padding: 0 15px;

            .categories-product__image {
                width: 100%;
                min-height: 220px;
                min-width: 320px;
                height: 29.23dvi;
            }
        }

        .categories-product__description {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100px;
        }
    }
}

@media (min-width: 992px) {
    .categories {
        max-width: 1200px;
        margin: 0 auto;
    }

    .categories-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .categories__description {
            padding-right: 25px;
            width: 100%;

            .categories__content-button {
                margin: 0;
            }

            .categories__text-italic {
                font-size: 22px;
            }

            .categories__title-text {
                font-size: 42px;
            }

            .categories__button-all {
                font-size: 15px;
            }
        }

        .categories__products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 68dvi;

            .categories-products__content {
                width: 100%;
                min-width: 204px;
                min-height: 424.36px;
                padding: 0 15px;

                .categories-product__image {
                    width: 100%;
                    min-height: 128.04px;
                    min-width: 174px;
                    height: 12.51dvi;
                }
            }

            .categories-product__description {
                .categories-product__description-text {
                    padding: 0;
                }
            }

            .fourth-product {
                display: none;
            }

            .categories-product__description {
                width: 80%;
                height: 120px;
            }
        }
    }
}

@media (min-width: 1031px) {
    .categories {
        max-width: 1200px;

        .categories-container {
            max-width: 1200px;
            margin: 0 auto;
            flex: 1 33%;

            .categories__description {
                .categories__paragraph-text {
                    height: 100px;
                }
            }
        }

        .categories__products {
            max-width: 780px;

            .categories-products__content {
                max-width: 227px;
                height: 404.35;
                margin: 0 auto;

                .categories-product__image {
                    height: 128.85px;
                }
            }
        }
    }
}