.soap-expert {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;

    .soap-expert__container {
        background-color: var(--soap-expert-container-background);

        .soap-expert__background {
            .soap-expert__background-image {
                height: 130px;
                overflow: hidden;
                object-fit: cover;
                transform-origin: center center;
                margin: 0;
                padding: 0;
            }
        }

        .soap-expert__description {
            padding: 75px 24px 55px 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .natural-herbs-block,
            .antioxidants-block,
            .deep-hydration-block {
                margin-top: 50px;
            }

            .soap-expert__description-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-self: center;

                .soap-expert__description-image {
                    .soap-expert__image {
                        height: 143.04px;
                        object-fit: cover;
                        width: 100%;
                        display: block;
                        height: 44.7dvi;
                    }
                }

                .soap-expert__description-title {
                    text-align: center;

                    .soap-expert__title-text {
                        font-family: var(--font-family-title);
                        font-size: 22px;
                        color: var(--soap-expert-title-text);
                        margin: 0 auto;
                        padding-top: 20px;
                        font-weight: 500;
                        line-height: 1.5;

                    }
                }

                .soap-expert__description-text {
                    text-align: center;

                    .soap-expert__text-paragraph {
                        font-family: var(--font-family-text);
                        font-size: 17px;
                        color: var(--soap-expert-paragraph-text);
                        font-weight: 400;
                        line-height: 1.5;
                        margin: 0 auto;
                        width: 270px;
                        padding-top: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 480px) {
    .soap-expert {
        .soap-expert__container {
            .soap-expert__description {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .natural-herbs-block {
                    margin: 0;
                }

                .soap-expert__description-content {
                    .soap-expert__description-image {
                        .soap-expert__image {
                            height: 105.7px;
                            object-fit: cover;
                            width: 100%;
                            display: block;
                            height: 22.02dvi;
                        }
                    }

                    .soap-expert__description-text {
                        .soap-expert__text-paragraph {
                            min-height: 160px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 589px) {
    .soap-expert {
        .soap-expert__container {
            .soap-expert__description {
                .soap-expert__description-content {
                    .soap-expert__description-text {
                        .soap-expert__text-paragraph {
                            min-height: 107px;
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .soap-expert {
        .soap-expert__container {
            .soap-expert__description {
                padding: 75px 32px 55px 32px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;

                .antioxidants-block,
                .deep-hydration-block {
                    margin: 0;
                }

                .soap-expert__description-content {
                    .soap-expert__description-image {
                        .soap-expert__image {
                            height: 108.07px;
                            object-fit: cover;
                            width: 100%;
                            display: block;
                            height: 10.9dvi;
                        }
                    }

                    .soap-expert__description-text {
                        .soap-expert__text-paragraph {
                            min-height: 132px;
                            min-width: 220px;
                            width: 22.18vw;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .soap-expert {
        .soap-expert__container {
            .soap-expert__description {
                padding: 75px 15px 55px 15px;
                max-width: 1200px;
                margin: 0 auto;

                .soap-expert__description-content {
                    .soap-expert__description-image {
                        .soap-expert__image {
                            height: 130.8px;
                            margin: 0 auto;
                        }
                    }

                    .soap-expert__description-text {
                        .soap-expert__text-paragraph {
                            max-width: 266.17px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}