.top-choice {
    .top-choice__container {
        padding: 90px 24px;
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        left: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/top-choice/background-image.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }

        .top-choice__content {
            .top-choice__text-italic {
                font-family: var(--font-family-coursive);
                font-style: italic;
                font-size: 22px;
                color: var(--top-choice-text-italic);
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
            }

            .top-choice__title-text {
                font-family: var(--font-family-title);
                font-size: 34px;
                color: var(--top-choice-text-title);
                font-weight: 700;
                line-height: 1.5;
                padding-top: 35px;
                margin: 0;
            }

            .top-choice__content-image {
                padding-top: 30px;
                margin: 0;

                .top-choice__image {
                    width: 60px;
                    height: 32px;
                    margin: 0;
                    padding: 0;
                }
            }

            .top-choice__heading-text {
                font-family: var(--font-family-text);
                font-size: 20px;
                color: var(--top-choice-heading-text);
                font-weight: 400;
                line-height: 1.5;
                padding-top: 35px;
                margin: 0;
            }

            .top-choice__paragraph-text {
                font-family: var(--font-family-text);
                font-size: 17px;
                color: var(--top-choice-paragraph-text);
                font-weight: 400;
                line-height: 1.5;
                padding-top: 35px;
                margin: 0;
            }
        }
    }
}

.top-choice-animated-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.top-choice-animated-carousel__inner {
    display: flex;
    transition: transform .5s ease-in-out;
}

.top-choice-animated-carousel .top-choice-card {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
}

.top-choice-animated-carousel .top-choice-animated-carousel__button {
    position: absolute;
    top: 50%;
    color: var(--top-choice-carousel-button);
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transform: translateY(-50%) scale(1.1);
}

.top-choice-animated-carousel .top-choice-animated-carousel__button--prev {
    left: -20px;
}

.top-choice-animated-carousel .top-choice-animated-carousel__button--next {
    right: -20px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin: 0;
    bottom: 55px;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    background-color: var(--top-choice-carousel-indicators);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.carousel-indicator.active {
    background-color: var(--top-choice-carousel-indicators-active);
}

.carousel-indicator:hover {
    background-color: var(--top-choice-carousel-indicators-hover);
}

@media (min-width: 550px) {
    .top-choice {
        .top-choice__container {
            .top-choice__container-image {
                gap: 30px;
            }
        }
    }

    .top-choice-animated-carousel .top-choice-card {
        flex: 0 0 50%;
    }
}

@media (min-width: 767px) {
    .top-choice {
        .top-choice__container {
            padding: 105px 32px;

            .top-choice__content {
                max-width: 500px;

                .top-choice__content {
                    .top-choice__text-italic {
                        font-size: 26px;
                    }

                    .top-choice__title-text {
                        font-size: 38px;
                    }
                }
            }

            .top-choice__container-image,
            .carousel-indicators {
                max-width: 500px;
            }
        }
    }
}

@media (min-width: 992px) {
    .top-choice {
        .top-choice__container {
            padding: 120px 40px;

            .top-choice__content {
                max-width: 570px;

                .top-choice__content {
                    .top-choice__text-italic {
                        font-size: 22px;
                    }

                    .top-choice__title-text {
                        font-size: 42px;
                    }
                }
            }

            .top-choice__container-image {
                gap: 20px;
            }
        }
    }

    .top-choice-animated-carousel .top-choice-card {
        flex: 0 0 25%;
    }

    .top-choice-animated-carousel .top-choice-animated-carousel__button {
        top: 40%;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-left: 40px;
        bottom: 75px;
    }
}

@media (min-width: 1200px) {
    .top-choice {
        .top-choice__container {
            display: flex;
            justify-content: center;
            padding: 120px 0;

            .top-choice__general-container {
                max-width: 1200px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 0;
                margin: 0 auto;

                .top-choice__content {
                    max-width: 570px;
                    margin-left: 0;
                }

                .top-choice__container-image {
                    max-width: 570px;
                    margin: 0;
                }

                .top-choice__carousel-indicators {
                    max-width: 1200px;
                    margin: 0 auto;

                    .carousel-indicators {
                        display: flex;
                        justify-content: flex-start;
                        max-width: 740px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}