.about-us {
    .about-us__container {
        padding: 90px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;

        .about__content {
            padding-top: 50px;

            .about__text-italic {
                font-family: var(--font-family-coursive);
                font-style: italic;
                font-size: 22px;
                color: var(--about-us-text-italic);
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
            }

            .about__title-text {
                font-family: var(--font-family-title);
                font-size: 34px;
                color: var(--about-us-text-title);
                font-weight: 700;
                line-height: 1.5;
                padding-top: 20px;
                margin: 0;

                .about__title-text-span {
                    color: var(--baout-us-text-title-span);
                }
            }

            .about__content-image {
                padding-top: 30px;

                .about__image-block {
                    width: 60px;
                    height: 32px;
                    margin: 0;
                    padding: 0;
                }
            }

            .about__heading-text {
                font-family: var(--font-family-text);
                font-size: 20px;
                color: var(--about-us-heading-text);
                font-weight: 400;
                line-height: 1.5;
                padding-top: 25px;
                margin: 0;
            }
        }

        .about__content-block {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .about__block-description {
                padding-top: 25px;
                display: flex;
                align-items: center;

                .about__description-image svg {
                    width: 20px;
                    height: 24px;
                    margin: 0;
                    padding: 0;
                    color: var(--about-us-image-svg);
                    margin-right: 20px;
                }

                .about__text-content {
                    font-family: var(--font-family-text);
                    font-size: 17px;
                    color: var(--about-us-text-content);
                    font-weight: 400;
                    line-height: 1.5;
                    margin: 0;
                    padding-left: 10px;
                }
            }
        }

        .about__block-caption {
            .about__caption-text {
                font-family: var(--font-family-text);
                font-size: 17px;
                color: var(--about-us-caption-text);
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
                padding-top: 35px;
            }
        }

        .about__content-button {
            display: flex;
            gap: 50px;
            padding-top: 25px;
            margin-bottom: 30px;

            .about__button-shop {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 58px;
                border-radius: 7px;
                padding: 0 40px;
                font-family: var(--font-family-text);
                font-size: 16.5px;
                font-weight: 570;
                box-sizing: border-box;
                transition: background-color .5s ease, color .5s ease;
                cursor: pointer;
                background-color: var(--about-us-button-background);
                color: var(--about-us-button-text);
                text-decoration: none;
            }

            .about__button-shop a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }

            .about__button-shop:hover {
                background-color: var(--about-us-button-hover);
            }
        }
    }
}

@media (min-width: 767px) {
    .about-us {
        .about-us__container {
            padding: 90px 32px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            .about-background {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                .about-background__image {
                    margin: 0;
                }
            }

            .about__content {
                .about__text-italic {
                    font-size: 26px;
                }

                .about__title-text {
                    font-size: 38px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .about-us {
        .about-us__container {
            padding: 90px 40px;

            .about__content {
                .about__text-italic {
                    font-size: 22px;
                }

                .about__title-text {
                    font-size: 42px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .about-us {
        .about-us__container {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}