.shop-bottom {
    .shop-product__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 0 24px 30px 24px;

        .shop-button__see-products {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            border-radius: 7px;
            padding: 0 15px;
            font-family: var(--font-family-text);
            font-size: 15px;
            font-weight: 570;
            box-sizing: border-box;
            transition: background-color .5s ease, color .5s ease;
            cursor: pointer;
            background-color: var(--shop-bottom-button-see-product-background);
            color: var(--shop-bottom-button-see-product-text);
            text-decoration: none;
        }

        .shop-button__see-products a {
            text-decoration: none;
            color: inherit;
            display: inline-block;
        }

        .shop-button__see-products:hover {
            background-color: var(--shop-bottom-button-see-product-background-hover);
        }
    }
}

@media (min-width: 480px) {
    .shop-bottom {
        .shop-product__button {
            padding: 50px 20px 30px 20px;
        }

    }
}

@media (min-width: 767px) {
    .shop-bottom {
        .shop-product__button {
            padding: 50px 20px 30px 20px;

            .shop-button__see-products {
                height: 50px;
                padding: 0 17px;
            }
        }
    }
}

@media (min-width: 992px) {
    .shop-bottom {
        .shop-product__button {
            padding: 50px 20px 30px 20px;

            .shop-button__see-products {
                height: 58px;
                padding: 0 20px;
                font-size: 17px;
            }
        }
    }
}