.header__hero {
    .header-hero__general {
        .header__hero-container {
            padding: 110px 24px;
            position: relative;
            z-index: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            left: 0;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../img/header/hero-image.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: -1;
                transform: scale(1.2) translateY(-7%) translateX(-2%);
            }

            .header__hero-content {
                .header__italic-paragraph {
                    font-family: "Niconne", cursive;
                    font-style: italic;
                    font-size: 22px;
                    color: #ebbaa9;
                    font-weight: 400;
                    line-height: 1.5;
                    margin: 0;
                }

                .header__title-bold {
                    font-family: 'Lexend', sans-serif;
                    font-size: 35px;
                    color: #333333;
                    font-weight: 700;
                    padding-top: 15px;
                    margin: 0;
                }

                .header__placeholder-paragraph {
                    font-family: 'Lato', sans-serif;
                    font-size: 20px;
                    color: #99887d;
                    font-weight: 400;
                    line-height: 1.5;
                    padding: 35px 0 40px 0;
                    margin: 0;
                }
            }

            .header__hero-button {
                .header__button-darkened {
                    display: flex;
                    gap: 50px;
                    margin: 0;

                    .header__button-shop {
                        height: 58px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        padding: 0 35px;
                        font-family: 'Lato', sans-serif;
                        font-size: 16px;
                        font-weight: 570;
                        box-sizing: border-box;
                        transition: background-color 0.5s ease, color 0.5s ease;
                        cursor: pointer;
                        background-color: #ebbaa9;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .header__button-shop a {
                        text-decoration: none;
                        color: inherit;
                        display: inline-block;
                    }

                    .header__button-shop:hover {
                        background-color: #333333;
                    }
                }

                .header__button-transparent {
                    display: flex;
                    gap: 50px;
                    margin: 0;
                    padding-top: 25px;
                    margin-bottom: 30px;

                    .header__button-about {
                        height: 58px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        padding: 0 25px;
                        font-family: 'Lato', sans-serif;
                        font-size: 16px;
                        font-weight: 570;
                        box-sizing: border-box;
                        transition: background-color 0.5s ease, color 0.5s ease;
                        cursor: pointer;
                        background-color: transparent;
                        color: #333333;
                        border: 3px solid #333333;
                        text-decoration: none;
                    }

                    .header__button-about a {
                        text-decoration: none;
                        color: inherit;
                        display: inline-block;
                    }

                    .header__button-about:hover {
                        background-color: #333333;
                        color: #ffffff;
                    }
                }
            }
        }

        .header__hero-bottom {
            .header__image-bottom {
                height: 130px;
                overflow: hidden;
                object-fit: cover;
                transform-origin: center center;
                margin: 0;
                padding: 0;
            }
        }
    }
}

@media (min-width: 435px) {
    .header__hero {
        .header-hero__general {
            .header__hero-container {
                .header__hero-button {
                    .header__button {
                        margin: 0;
                        display: flex;
                        gap: 20px;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .header__button-darkened,
                    .header__button-transparent {
                        margin: 0;
                        padding: 0;
                        display: inline-flex;
                        justify-content: flex-start;
                        align-items: center;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}

@media (min-width: 767px) {
    .header__hero {
        .header-hero__general {
            .header__hero-container {
                padding: 160px 32px;

                .header__hero-content {
                    width: 403px;

                    .header__italic-paragraph {
                        font-size: 26px;
                    }

                    .header__title-bold {
                        font-size: 59px;
                    }
                }

                .header__hero-button {
                    width: 403px;

                    .header__button-darkened {
                        .header__button-shop {
                            font-size: 16.5px;
                        }
                    }

                    .header__button-transparent {
                        .header__button-about {
                            font-size: 16.5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header__hero {
        .header-hero__general {
            .header__hero-container {
                padding: 210px 40px;

                .header__hero-content {
                    width: 525px;

                    .header__italic-paragraph {
                        font-size: 22px;
                    }

                    .header__title-bold {
                        font-size: 64px;
                    }
                }

                .header__hero-button {
                    width: 525px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header__hero {
        .header-hero__general {
            .header__hero-container {

                .header__hero-content,
                .header__hero-button {
                    max-width: 1200px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 0;
                    margin: 0 auto;

                    .header__italic-paragraph,
                    .header__title-bold,
                    .header__placeholder-paragraph {
                        max-width: 670px;
                    }
                }
            }
        }
    }
}