.shop-top {
    .shop-container {
        padding: 90px 24px 20px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .shop__text-italic {
        font-family: var(--font-family-coursive);
        font-style: italic;
        font-size: 22px;
        color: var(--shop-top-text-italic);
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
    }

    .shop__title-head {
        font-family: var(--font-family-title);
        font-size: 34px;
        color: var(--shop-top-title-head);
        padding: 30px 0;
        margin: 0;

        .shop__title-head-span {
            color: var(--shop-top-title-head-span);
        }
    }

    .shop-container__image {
        width: 60px;
        height: 32px;
        margin: 0;
        padding: 0;
        margin: 0;
    }

    .shop__description-paragraph {
        font-family: var(--font-family-text);
        font-size: 20px;
        color: var(--shop-top-description-paragraph);
        font-weight: 400;
        line-height: 1.5;
        padding-top: 30px;
        margin: 0;
    }

    .shop__currency {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 30px;

        .shop-currency__text {
            .shop-currency__text-title {
                font-family: var(--font-family-text);
                font-size: 17px;
                color: var(--shop-top-currency-text-title);
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
            }
        }

        .shop-container__currency {
            position: relative;
            display: inline-block;
            border: 2px solid var(--shop-top-currency-border);
            border-radius: 5px;
            overflow: hidden;
            background: var(--shop-top-currency-background);
        }

        .products__currency {
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 10px 15px;
            font-size: 14px;
            width: 80px;
            height: 40px;
            font-weight: bold;
            color: var(--shop-top-currency-text);
            cursor: pointer;
            outline: none;
            border-radius: 0;
            transition: background-color 0.3s ease;
        }

        .products__currency:hover {
            background-color: var(--shop-top-currency-background-hover);
        }

        .products__currency:focus {
            border: none;
            box-shadow: 0 0 0 2px var(--shop-top-currency-box-shadow-focus);
        }

        .shop-container__currency::after {
            content: '▼';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            font-size: 12px;
            pointer-events: none;
            color: var(--shop-top-currency-animation-color);
        }
    }
}

@media (min-width: 767px) {
    .shop-container {
        .shop__text-italic {
            font-size: 26px;
        }

        .shop__title-head {
            font-size: 38px;
        }

        .shop__currency {
            .shop-currency__text {
                .shop-currency__text-title {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .shop-container {
        .shop__text-italic {
            font-size: 22px;
        }

        .shop__title-head {
            font-size: 42px;
        }
    }
}