.header-background__hero-image {
    display: none;
}

@media (min-width: 826px) {
    .header-background__hero-image {
        display: block;
        content: url('../img/header/hero-image.png');
        background-size: cover;
        width: 100%;
        z-index: -22;
        top: 0;
        left: 0;
        position: absolute;
    }

    .header__hero-container {
        display: flex;
        flex-direction: column;
        padding: 210px 0;
        background-color: var(--bottom-background-color);
        position: relative;
        z-index: 1;
    }

    .header__text-italic,
    .header__text-title,
    .header__text-placeholder {
        padding-left: 250px;
        margin: 0 auto;
    }

    .header__italic-paragraph {
        font-family: "Niconne", cursive;
        font-style: italic;
        font-size: 22px;
        color: var(--text-italic-color);
        width: 630px;
        font-weight: 400;
    }

    .header__title-bold {
        font-family: 'Lexend', sans-serif;
        font-size: 64px;
        color: var(--text-dark-general-color);
        padding: 20px 0 0 0;
        width: 630px;
    }

    .header__placeholder-paragraph {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: var(--text-graphite-grey);
        padding: 55px 0 45px 0;
        width: 630px;
        font-weight: 400;
        line-height: 1.5;
    }

    .header__button {
        font-family: 'Lato', sans-serif;
        font-size: 16.5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding-left: 250px;
        margin: 0 auto;
    }

    .header__button-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .header__button {
        display: flex;
        gap: 50px;
    }

    .header__button-transparent,
    .header__button-darkened {
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 7px;
        padding: 0 20px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 570;
        box-sizing: border-box;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }

    .header__button-transparent {
        background-color: var(--button-pink-color);
        color: var(--button-light-text-color);
    }

    .header__button-darkened {
        background-color: transparent;
        color: var(--text-dark-general-color);
        border: 3px solid var(--button-border-color);
    }

    .header__button-transparent a,
    .header__button-darkened a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }

    .header__button-transparent:hover {
        background-color: var(--button-background-color);
    }

    .header__button-darkened:hover {
        background-color: var(--button-background-color);
        color: var(--button-light-text-color);
    }

}

@media (max-width: 826px) {
    .header__image-bottom {
        height: 130px;
        overflow: hidden;
        object-fit: cover;
        transform-origin: center center;
    }

    .header__hero-container {
        display: flex;
        flex-direction: column;
        padding: 110px 24px;
        background: linear-gradient(180deg, rgba(254, 236, 225, 1) 14%, rgba(255, 239, 228, 1) 45%, rgba(254, 241, 229, 1) 71%, rgba(254, 244, 232, 1) 99%);
    }

    .header__italic-paragraph {
        font-family: "Niconne", cursive;
        font-style: italic;
        font-size: 22px;
        color: var(--text-italic-color);
        font-weight: 400;
    }

    .header__title-bold {
        font-family: 'Lexend', sans-serif;
        font-size: 35px;
        color: var(--text-dark-general-color);
        padding: 20px 0 0 0;
    }

    .header__placeholder-paragraph {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: var(--text-graphite-grey);
        padding: 35px 0 45px 0;
        font-weight: 400;
        line-height: 1.5;
    }

    .header__button {
        font-family: 'Lato', sans-serif;
        font-size: 16.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__button {
        display: flex;
        gap: 50px;
    }

    .header__button-transparent,
    .header__button-darkened {
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        padding: 0 20px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 570;
        box-sizing: border-box;
        cursor: pointer;
    }

    .header__button-transparent {
        background-color: var(--button-pink-color);
        color: var(--button-light-text-color);
    }

    .header__button-darkened {
        background-color: transparent;
        color: var(--text-dark-general-color);
        border: 3px solid var(--button-border-color);
    }

    .header__button-transparent a,
    .header__button-darkened a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }

    .header__button-transparent:hover {
        background-color: var(--button-background-color);
    }

    .header__button-darkened:hover {
        background-color: var(--button-background-color);
        color: var(--button-light-text-color);
    }
}