body.modal-open {
    overflow: hidden;
    padding-right: 0;
}

.modal {
    padding: 0 24px;
    background-color: var(--modal-top-choice-background);

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - 16px);
        min-width: calc(100% - 16px);
        margin: 0;

        .modal-content {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;

            .modal-body {
                .carousel-item {
                    background-color: transparent;
                    transition: transform .7s ease-in-out;

                    .carousel-item__image {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .top-choice__modal-image {
                            width: 150px !important;
                            height: 150px !important;
                            object-fit: contain;
                            display: block;
                            width: 46.88dvi !important;
                            height: 46.88dvi !important;
                            max-width: 377px !important;
                            max-height: 377px !important;
                        }
                    }
                }

                .carousel-control-prev,
                .carousel-control-next {
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10%;
                    height: 100%;
                    border: none;
                }

                .carousel-control-prev {
                    left: 0;
                }

                .carousel-control-next {
                    right: 0;
                }

                .carousel-control-prev:hover,
                .carousel-control-next:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

.top-choice__modal-image {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
    display: block;
    width: 46.88dvi !important;
    height: 46.88dvi !important;
    max-width: 377px !important;
    max-height: 377px !important;
    position: relative;
    left: calc(50% - 24.44dvi);
}

@media (min-width: 805px) {
    .top-choice__modal-image {
        left: calc(50% - 188.5px);
    }
}