.products {
    .products-container {
        padding: 90px 24px;

        .products-container__top {
            .products-top__title-link {
                text-decoration: none;

                .products-top__title-text {
                    font-family: 'Lato', sans-serif;
                    font-size: 17px;
                    color: #936f62;
                    font-weight: 700;
                    line-height: 1.5;
                    margin: 0;
                    position: relative;
                    display: inline-block;
                    transition: color 0.7s ease;
                }

                .products-top__title-text::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: #3d3431;
                    transition: width 0.7s ease;
                }

                .products-top__title-text:hover {
                    color: #3d3431;
                }

                .products-top__title-text:hover::after {
                    width: 100%;
                }
            }
        }

        .container {
            padding: 0;

            .products-container__contents {
                .products-contents__carousel {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 40px;
                    margin-bottom: 16px;
                }

                .products-contents__carousel-image {
                    width: 204px;
                    height: 204px;
                    width: 63.75dvi;
                    height: 63.75dvi;

                    .products-carousel__image {
                        border-radius: 10% 50% 10%50%/ 50% 10% 50% 10%;
                    }
                }
            }

            .products-contents__bottom-image {
                display: flex;
                justify-content: center;
                gap: 10px;

                .products-bottom__image {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .products-additionally__image {
                        width: 33.33px;
                        height: 33.33px;
                        width: 10.42dvi;
                        height: 10.42dvi;
                        border-radius: 10% 50% 10%50%/ 50% 10% 50% 10%;
                    }
                }
            }

            #thumbCarousel {
                margin: 0 auto;
                padding: 10px 0;
            }

            #thumbCarousel .thumb {
                float: left;
                margin-right: 10px;
            }

            #thumbCarousel .thumb:last-child {
                margin-right: 0;
            }

            .thumb:hover {
                cursor: pointer;
            }

            .thumb img {
                opacity: 0.5;
                border-radius: 10% 50% 10%50%/ 50% 10% 50% 10%;
            }

            .thumb img:hover {
                opacity: 1;
                border-radius: 10% 50% 10%50%/ 50% 10% 50% 10%;
            }

            .thumb.active img {
                opacity: 1;
                border: 1px solid #333333;
                border-radius: 10% 50% 10%50%/ 50% 10% 50% 10%;
            }

            .carousel-control {
                opacity: 0;
                transition: opacity 0.5s ease;
            }

            .products-container__contents:hover .carousel-control {
                opacity: 1;
                transition: opacity 0.5s ease;
            }

            .products-contents__carousel-image img:hover,
            #thumbCarousel img:hover {
                background: none !important;
                filter: none !important;
                transition: none !important;
            }

            .carousel-control:hover {
                background: none !important;
                filter: none !important;
                transition: none !important;
            }

            .products-contents__carousel-image img,
            #thumbCarousel img,
            .carousel-control {
                background: none !important;
                filter: none !important;
                transition: none !important;
                box-shadow: none !important;
                outline: none !important;
            }

            .carousel-control .glyphicon-chevron-left,
            .carousel-control .glyphicon-chevron-right {
                transition: color .5s ease;
            }

            .carousel-control:hover .glyphicon-chevron-left,
            .carousel-control:hover .glyphicon-chevron-right {
                color: #ebbaa9;
                transition: color .5s ease;
            }
        }

        .products-description {
            .products-description__stock-text {
                font-family: 'Lato', sans-serif;
                font-size: 17px;
                color: #61a854;
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
                padding-top: 50px;
            }

            .products-description__title-text {
                font-family: 'Lexend', sans-serif;
                font-size: 22px;
                color: #333333;
                font-weight: 700;
                line-height: 1.5;
                margin: 0;
                padding-top: 10px;
            }

            .products-description__text-italic {
                font-family: "Niconne", cursive;
                font-style: italic;
                font-size: 22px;
                color: #868686;
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
                padding-top: 10px;
            }

            .products-description__price-text {
                font-family: 'Lato', sans-serif;
                font-size: 20px;
                color: #868686;
                font-weight: 700;
                line-height: 1.5;
                margin: 0;
                padding: 15px 0 40px 0;
            }

            .products-description__line-title {
                color: #868686;
            }

            .products-description__quantity-button {
                display: flex;
                align-items: center;
                gap: 20px;

                .products-description__quantity {
                    display: flex;
                    align-items: center;
                }

                .products-description__quantity input[type="number"] {
                    text-align: center;
                    width: 75px;
                    height: 50px;
                    border: 1px solid #cccccc;
                    border-radius: 4px;
                    padding: 0 10px;
                    font-size: 16px;
                }

                .products-description__quantity input[type="number"]::-webkit-inner-spin-button,
                .products-description__quantity input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .products-description__quantity input[type="number"] {
                    -moz-appearance: textfield;
                }
            }

            .products-description__button-cart {
                display: flex;
                align-items: center;

                .products-description__cart {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    padding: 0 25px;
                    font-family: 'Lato', sans-serif;
                    font-size: 15px;
                    font-weight: 570;
                    box-sizing: border-box;
                    transition: background-color 0.5s ease, color 0.5s ease;
                    cursor: pointer;
                    background-color: #968A80;
                    color: #ffffff;
                    text-decoration: none;
                    border: none;
                    box-shadow: none;
                }

                .products-description__cart a {
                    text-decoration: none;
                    color: inherit;
                    display: inline-block;
                }

                .products-description__cart:hover {
                    background-color: #ebbaa9;
                }
            }
        }

        .products-description__tab-container {
            .btn-group {
                display: flex;
                margin-top: 20px;
                max-width: 370px;
            }

            .btn-group .btn:first-of-type {
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }

            .btn-group .btn:last-of-type {
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }

            .btn-check:checked+.btn-outline-primary {
                background-color: #fbf0e5;
                font-family: 'Lato', sans-serif;
                font-size: 12px;
                font-weight: 700;
                line-height: 1.5;
                color: #333333;
                border-color: #ebbaa9;
            }

            .btn-outline-primary {
                color: #333333;
                border-color: #ebbaa9;
                font-family: 'Lato', sans-serif;
                font-size: 12px;
                font-weight: 700;
                line-height: 1.5;
                text-align: center;
            }

            .btn-check {
                display: none;
            }

            .btn {
                padding: 10px;
                cursor: pointer;
                text-align: center;
            }

            .description {
                font-family: 'Lato', sans-serif;
                font-size: 17px;
                color: #868686;
                font-weight: 500;
                line-height: 1.5;
                margin: 0;
                padding: 25px 0 40px 0;
            }
        }
    }
}

@media (min-width: 767px) {
    .products {
        width: 100%;

        .products-container {
            padding: 125px 32px;
            display: flex;
            gap: 20px;

            .product-general-container {
                flex: 1;
                display: flex;
                flex-direction: column;

                .container {
                    width: 100%;
                    max-width: none;
                }

                .products-container__contents {
                    .products-contents__carousel {
                        margin-bottom: 25px;

                        .products-contents__carousel-image {
                            width: 252.75px;
                            height: 252.75px;
                            width: 32.95dvi;
                            height: 32.95dvi;
                        }
                    }
                }

                .products-contents__bottom-image {
                    .products-additionally__image {
                        width: 44.16px;
                        height: 44.16px;
                        width: 5.76dvi;
                        height: 5.76dvi;
                    }
                }
            }

            .products-description {
                .products-description__text-italic {
                    font-size: 26px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .products {
        .products-container {
            padding: 100px 40px 150px 40px;
            gap: 70px;

            .products-description {
                .products-description__text-italic {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .products {
        max-width: 1200px;
        margin: 0 auto;

        .products-container {
            padding: 100px 15px 150px 40px;

            .product-general-container {
                .products-contents__carousel-image {
                    max-width: 395.4px;
                    max-height: 395.04px;
                    margin: 0 auto;
                }

                .products-contents__bottom-image {
                    .products-additionally__image {
                        max-width: 125.04px;
                        max-height: 125.04px;
                    }
                }
            }
        }
    }
}