.store-homepage-block {
    .store-homepage-block__product {
        padding: 0 24px 90px 24px;

        .store-homepage-product__image {
            padding-bottom: 10px;

            .store-homepage__image {
                border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%;
                transition: transform .5s ease, box-shadow .7s ease;
                box-sizing: border-box;
            }

            .store-homepage__image:hover {
                transform: scale(0.97);
                box-shadow: 0 0 0 3px var(--page-general-product-image-box-shadow-hover);
            }
        }

        .store-homepage-product__name,
        .store-homepage-product__price {
            display: flex;
            align-items: center;
            justify-content: center;

            .store-homepage-product__name-text {
                text-decoration: none;
                font-family: var(--font-family-text);
                font-size: 18px;
                color: var(--page-general-product-name-text);
                font-weight: 560;
                line-height: 1.5;
                transition: color .5s ease;
            }

            .store-homepage-product__name-text:hover {
                color: var(--page-general-product-name-text-hover);
            }


            .store-homepage-product__price-list {
                font-family: var(--font-family-text);
                font-size: 20px;
                color: var(--page-general-product-price-list);
                font-weight: 560;
                line-height: 1.5;
                padding: 15px 0;
                margin: 0;
            }
        }

        .store-homepage-product__button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            padding: 0 20px;

            .store-homepage__button-cart {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-radius: 5px;
                padding: 0 35px;
                font-family: var(--font-family-text);
                font-size: 15px;
                font-weight: 570;
                box-sizing: border-box;
                transition: background-color .5s ease, color .5s ease;
                cursor: pointer;
                background-color: var(--page-general-button-cart-background);
                color: var(--page-general-button-cart-text);
                text-decoration: none;
            }

            .store-homepage__button-cart a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }

            .store-homepage__button-cart:hover {
                background-color: var(--page-general-button-cart-background-hover);
            }
        }
    }
}

@media (min-width: 480px) {
    .general-product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 24px;

        .store-homepage-block {
            padding: 60px 15px 0 15px;

            .store-homepage-block__product {
                padding: 0;
            }
        }
    }
}

@media (min-width: 767px) {
    .general-product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .general-product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 24px;

        .store-homepage-block__product {
            .store-homepage-product__image {
                padding-bottom: 20px;
            }

            .store-homepage-product__name {
                .store-homepage-product__name-text {
                    font-size: 24px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .general-product-list {
        max-width: 1200px;
        margin: 0 auto;
    }
}