.store-homepage__bottom {
    padding: 30px 24px;

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.store-homepage__bottom .pagination .page-link {
    color: var(--page-bottom-general-pagination-text);
    font-weight: 560;
    background-color: var(--page-bottom-general-pagination-background);
    border: none;
    border: 2px solid var(--page-bottom-general-pagination-border);
    transition: background-color .6s ease;
    outline: none;
    box-shadow: none;
}

.store-homepage__bottom .pagination .page-link:focus,
.store-homepage__bottom .pagination .page-link:active {
    outline: none;
    box-shadow: none;
}

.store-homepage__bottom .pagination .page-link:hover {
    background-color: var(--page-bottom-general-pagination-background-hover);
    color: var(--page-bottom-general-pagination-text-hover);
}

.store-homepage__per-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-family-text);
    font-size: 15px;
    font-weight: 560;
    line-height: 1.5;
    margin-top: 40px;
}

.store-homepage__per-page label {
    margin-right: 10px;
    font-weight: bold;
    color: var(--page-bottom-general-per-page-label-text);
}

.store-homepage__per-page select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1.5px solid var(--page-bottom-general-per-page-border);
    border-radius: 5px;
    background-color: var(--page-bottom-general-per-page-background);
    color: var(--page-bottom-general-per-page-text);
    cursor: pointer;
    transition: all 0.3s ease;
}

.store-homepage__per-page select:focus {
    outline: none;
    border-color: var(--page-bottom-general-per-page-focus-border);
    background-color: var(--page-bottom-general-per-page-focus-background);
}

.store-homepage__per-page select:hover {
    background-color: var(--page-bottom-general-per-page-focus-background-hover);
}

@media (min-width: 767px) {
    .store-homepage__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 90px 32px 95px 32px;
        gap: 20px;

        .store-homepage__per-page {
            position: absolute;
            font-size: 17px;
            left: 32px;
            margin: 0;
        }

        .pagination {
            margin: 0;
        }
    }
}

@media (min-width: 992px) {
    .store-homepage__bottom {
        padding: 100px 40px;
    }
}

@media (min-width: 1200px) {
    .store-homepage__bottom {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}