<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leather Crafties</title>
    <link rel="shortcut icon" href="img/header/general-photo-site.png" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
    </header>
    <main>
        <section class="product-list"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="shop-products.partial.html">
        </section>
    </main>
    <footer>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></div>
    </footer>
    <script src="js/index.js"></script>
    <script src="js/product-info-show-info.js"></script>
    <script src="js/index-product-list.js"></script>


</body>

</html>